<% if(createPagination){ %>
  <div class="flex justify-center">
    <div class="my-5">
      <div class="flex">
        <% paginations.forEach((p, index) => { %> <% if(p === firstIndex){ %>
        <a
          href="?page=<%= p %>"
          class="py-2 px-4 leading-tight border border-gray-400 dark:bg-gray-800 rounded-l <%= activeIndex == p ? 'text-gray-50': 'text-gray-500' %>"
        >
          <span><%= p %> </span>
        </a>
        <% } else if(p === finalIndex) { %>
        <a
          href="?page=<%= p %>"
          class="py-2 px-4 leading-tight border border-gray-400 dark:bg-gray-800 rounded-r <%= activeIndex == p ? 'text-gray-50': 'text-gray-500' %>"
        >
          <span><%= p %> </span>
        </a>
        <% }else{ %>
        <a
          href="?page=<%= p %>"
          class="py-2 px-4 leading-tight border border-gray-400 dark:bg-gray-800 <%= activeIndex == p ? 'text-gray-50': 'text-gray-500' %>"
        >
          <span><%= p %> </span>
        </a>
        <% } %> <% }) %>
      </div>
    </div>
  </div>
  <% } %>