<% if(products.length) { %> <% products.forEach(product => { %>
<div class="swiper-slide">
  <div
    class="w-full h-96 dark:bg-gray-800 max-w-sm mx-auto rounded-md shadow-md overflow-hidden transform hover:-translate-y-1 transition"
  >
    <div class="h-56 w-full bg-cover relative p-2">
      <img
        src="/images/<%= product.image %>"
        alt=""
        class="w-full h-full object-cover rounded shadow-xl"
      />
      <form action="/product-details" method="POST">
        <input type="hidden" name="productId" value="<%=product._id%>" />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button
          type="submit"
          class="p-2 absolute w-9 h-9 rounded-full dark:bg-blue-500 dark:hover:bg-blue-800 transition right-12 bottom-0 text-white mx-5 -mb-4 focus:outline-none"
        >
          <svg
            height="100%"
            viewBox="0 0 512.00061 512"
            width="100%"
            stroke-width="2"
            xmlns="http://www.w3.org/2000/svg"
            style="fill: currentColor"
          >
            <path
              d="m412 136c0 5.519531 4.480469 10 10 10s10-4.480469 10-10-4.480469-10-10-10-10 4.480469-10 10zm0 0"
            />
            <path
              d="m452 256c0 12.808594-1.285156 25.59375-3.816406 38-1.105469 5.410156 2.386718 10.691406 7.796875 11.796875.675781.140625 1.347656.207031 2.011719.207031 4.652343 0 8.820312-3.269531 9.789062-8.003906 2.800781-13.722656 4.21875-27.851562 4.21875-42 0-31.488281-6.828125-61.789062-20.300781-90.0625-2.375-4.984375-8.339844-7.101562-13.328125-4.726562-4.988282 2.375-7.101563 8.34375-4.726563 13.332031 12.179688 25.5625 18.355469 52.96875 18.355469 81.457031zm0 0"
            />
            <path
              d="m306 346h-10v-130c0-5.523438-4.476562-10-10-10h-80c-5.523438 0-10 4.476562-10 10v40c0 5.523438 4.476562 10 10 10h10v80h-10c-5.523438 0-10 4.476562-10 10v40c0 5.523438 4.476562 10 10 10h100c5.523438 0 10-4.476562 10-10v-40c0-5.523438-4.476562-10-10-10zm-10 40h-80v-20h10c5.523438 0 10-4.476562 10-10v-100c0-5.523438-4.476562-10-10-10h-10v-20h60v130c0 5.523438 4.480469 10 10 10h10zm0 0"
            />
            <path
              d="m256 186c22.054688 0 40-17.945312 40-40s-17.945312-40-40-40-40 17.945312-40 40 17.945312 40 40 40zm0-60c11.027344 0 20 8.972656 20 20s-8.972656 20-20 20-20-8.972656-20-20 8.972656-20 20-20zm0 0"
            />
            <path
              d="m256 0c-137.976562 0-256 117.800781-256 256 0 47.207031 13.527344 97.410156 36.335938 135.382812l-35.824219 107.457032c-1.195313 3.589844-.261719 7.554687 2.417969 10.230468 2.691406 2.691407 6.660156 3.609376 10.234374 2.414063l107.457032-35.820313c37.96875 22.8125 88.171875 36.335938 135.378906 36.335938 138.011719 0 256-117.816406 256-256 0-138.011719-117.8125-256-256-256zm0 492c-45.285156 0-93.417969-13.363281-128.757812-35.746094-2.503907-1.585937-5.625-2.003906-8.515626-1.039062l-92.914062 30.972656 30.972656-92.914062c.953125-2.851563.570313-5.976563-1.039062-8.515626-22.382813-35.335937-35.746094-83.472656-35.746094-128.757812 0-127.925781 108.074219-236 236-236s236 108.074219 236 236-108.074219 236-236 236zm0 0"
            />
          </svg>
        </button>
      </form>
      <% if(authentication) { %>
      <form action="/add-to-cart" method="POST">
        <input type="hidden" name="productId" value="<%= product._id %> " />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button
          type="submit"
          class="p-2 absolute rounded-full bg-blue-600 dark:bg-red-500 dark:hover:bg-red-800 transition right-0 bottom-0 text-white mx-5 -mb-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500"
        >
          <svg
            class="h-5 w-5"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
            ></path>
          </svg>
        </button>
      </form>
      <% } %>
    </div>
    <div class="px-5 py-3 flex flex-col justify-between h-40">
      <h3 class="uppercase text-yellow-300" style="font-family: RajdhaniBold">
        <%= product.name %>
      </h3>
      <p class="text-gray-300"><%= product.description %></p>
      <div
        class="text-gray-100 border-t border-gray-700 pt-2"
        style="font-family: RajdhaniSemibold"
      >
        <%= product.price %> $
      </div>
    </div>
  </div>
</div>
<% }) %> <% } %>
