<body class="bg-gray-700 mb-20 text-gray-50">
  <%- include('./includes/navbar.ejs') %> <%- include('./includes/loader.ejs')
  %>
  <section class="container mx-auto mt-10">
    <audio src="/mig/pristine.mp3" class="message-sound"></audio>
    <div class="mig-container"></div>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5 px-10"
    >
      <% products.forEach(product => { %>
      <div
        class="w-full h-96 dark:bg-gray-800 max-w-sm mx-auto rounded-md shadow-md overflow-hidden"
      >
        <div class="h-56 w-full bg-cover relative p-2">
          <img
            src="/images/<%= product.image %>"
            alt=""
            class="w-full h-full object-cover rounded shadow-xl"
          />
        </div>
        <div class="px-5 py-3 flex flex-col justify-between h-40">
          <h3
            class="uppercase text-yellow-300"
            style="font-family: RajdhaniBold"
          >
            <%= product.name %>
          </h3>
          <p class="text-gray-300"><%= product.description %></p>
          <div
            class="flex justify-between items-center border-t border-gray-500 pt-3"
          >
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <input type="hidden" name="productId" value="<%= product._id %>" />
            <button
              class="py-1 px-3 text-gray-100 bg-purple-500 hover:bg-purple-800 rounded transition-colors"
            >
              UPDATE
            </button>
            <button
              class="py-1 px-3 text-gray-100 bg-red-500 hover:bg-red-800 delete-product rounded transition-colors"
            >
              DELETE
            </button>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </section>
</body>
<link rel="stylesheet" href="/mig/mig.css" />
<script src="/mig/mig.js"></script>
<script src="/js/admin-products.js"></script>
