<body class="dark:bg-gray-700 dark:text-gray-50 transition-colors">
  <%- include('./includes/navbar.ejs') %>
  <section class="container mx-auto mt-16">
    <div class="flex justify-center items-center">
      <img
        src="/images/<%= product.image %>"
        class="w-96 h-96 object-cover rounded shadow-xl mr-3"
        alt="<%= product.name %> "
      />
      <div class="ml-3 self-start">
        <h1
          class="border-b border-gray-800 py-2"
          style="font-family: rajdhaniSemibold"
        >
          <span style="font-family: inherit" class="text-yellow-400"
            >Product Name:</span
          >
          <%= product.name %>
        </h1>
        <h2
          class="border-b border-gray-800 py-2"
          style="font-family: rajdhaniSemibold"
        >
          <span style="font-family: inherit" class="text-yellow-400"
            >Product Description:</span
          >
          <%= product.description %>
        </h2>
        <h3
          class="border-b border-gray-800 py-2"
          style="font-family: rajdhaniSemibold"
        >
          <span style="font-family: inherit" class="text-yellow-400"
            >Product Price:</span
          >
          <%= product.price %> $
        </h3>
        <% if(authentication){ %>
        <form action="/add-to-cart" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <input type="hidden" name="productId" value="<%= product.id %> " />
          <button
            type="submit"
            class="rounded shadow-md bg-red-500 hover:bg-red-800 transition-colors py-2 px-4 mt-5 text-sm"
          >
            Add To Cart
          </button>
        </form>
        <% } %>
      </div>
    </div>
  </section>
</body>
